.tabs {
display: flex;
justify-content: center;
gap: 15px;
flex-wrap: wrap;
margin-bottom: 30px;
}

.tabs button {
background: none;
border: none;
font-weight: bold;
font-size: 16px;
padding: 10px 0;
border-bottom: 2px solid transparent;
cursor: pointer;
color: #333;
}

.tabs button.active,
.tabs button:hover {
border-color: #d2691e;
color: #d2691e;
}

.bg-fondo {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6),
    rgba(255, 255, 255, 0.6)
    )
    ,url(./assets/fondo.webp);
}

.menu {
  font-weight: bold;
}

.menu li:hover {
  text-decoration-line: underline;
  color: #fb923c;
}
